*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(images/bg-desktop.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color: hsl(257, 40%, 49%);
    color: white;
    padding-bottom: 0%;
    height: 100vh;    
}

.box2 a:hover, a:active{
    color: white;
    background-color: hsl(300, 69%, 71%);
    
}

/*footer .fa-brands{
    position: sticky;
    font-size: 10px;
    margin-right: 10px;
    border-radius: 10px;
    border: 1px solid;
    padding: 5px; 
}*/
.socialMedia i{
    font-size: 20px;  
    margin-right:10px; 
    color: hsl(0, 0%, 100%);
    background: none;
    padding: 5px;
    width: 35px;
    text-align: center;
    border-radius: 40px;
    border: 1px solid;
    position: sticky;
      
}
.logo img{
    position: relative;
    top: 20px;
    margin-left:46px;
    
    
    
}
.socialMedia{
    text-align:right;
    position: relative;
    bottom:100px;
    right: 80px;
 
}

i:hover{
    cursor: pointer;
    color: hsl(300, 69%, 71%);
}
    

.fa-brands{
    font-family: "Font Awesome 6 Brands";
    font-weight: 400;
    
  }


.container{
	display: flex;
	justify-content:center;
	margin-top: 35px;
	font-family: 'Poppins', sans-serif;
    color:white;
    margin-left:60px;
    margin-right:60px;

    
}
.container a{
    padding:5px 15px;
    background-color: white;
    text-decoration: none;
    border-radius: 20px;
    border:none;
    padding:8px 38px;
    box-shadow: 4px 4px 6px black;
    margin-left: 32px; 
    color: hsl(257, 40%, 49%); 
}
p{
    opacity: 70%;
    font-weight: normal;
    font-weight: 400;
    padding-left: 30px;
    padding-bottom: 30px;
}
.box2, h2, a{
    padding-left:30px;
    font-weight: 600;
    padding-top: 25px;
    padding-bottom: 30px;
    
}
@media only screen and (max-width:375px){
    .container{
        flex-direction: column;
        text-align: center;
        width: 90%;
        position: relative;
        right: 80px;
        padding: 0;
       }
    .box1 img{
        width:270px;
        position:relative;
        padding-left: 20px;
    }
    .logo img{
        width: 50%;
        position:relative;
        right: 80px;
    }
    
    .container a{
        padding:5px 15px;
        background-color: white;
        text-decoration: none;
        border-radius: 20px;
        border:none;
        padding:10px 70px;
        box-shadow: 4px 4px 6px black;
        margin-left: 32px; 
        
    }
    
    body{
        background-image: url(./images/bg-mobile.svg);
        text-align:center;
        
    }
    main img{
        width:100%;
        margin-left: 20px;

    }
    
    }

    /*@media screen and (max-width:1440px){
        body{
            background:url("./Images/pattern-background-desktop.svg");
            background-color: hsl(257, 40%, 49%);
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            margin-top: 10px;
            background-size: cover;
            background-position: center;
        }
        }